body {
  background-color: bisque;
}
.pad {
  background-color: #ff2929;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}
#note input{
  border: 2px solid black;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
}

.footer {
  bottom: 0;
}
h1{
  font-size: 44px;
  text-align: center;
}
h4 {
  text-align: center;
}
.btn {
  flex-direction: column;
  align-content: center;
}
.logo {
  height: 75px;
}
.signup{
  align-content: center;
}
.info{
  text-align: center;
}